<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom:20px">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">To-Do List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'create' %}">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'logout' %}">logout</a>
          </li>
        </ul>

      
        <form class="d-flex" role="search">
            <input type="hidden" name="search_bar" value="{{ request.GET.search_bar }}" >
            <div class="input-group" >
                <select class="form-select" name="sort_by"  style='margin-right:5px'>
                    <option value="">Sort By...</option>
                    <option value="completed">Completed</option>
                    <option value="modified_last">Modified Last</option>
                    <option value="created_last">Created Last</option>
                    <option value="priority">Priority</option>
                </select>
                <button type="submit" class="btn btn-primary"  style='margin-right:20px'>Apply Sorting</button>
            </div>
          <input class="form-control me-2" name='search_bar' type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>